<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Our Best PlanTs</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <script type="module"  th:src="|/static/js/main.js|" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Schoolbell&display=swap" rel="stylesheet">
</head>

<body>

<div class="header">
    <img id="header-pic" th:src="|static/img/extra_items/index_cover.png|" alt="Plants header picture">
    <nav class="navbar navbar-expand-lg navbar-light  bg-light shadow-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
            <span class="navbar-text">Products in your cart:
                <strong id="cart-info" th:text="${shoppingCart.getProducts().size()}"></strong><img
                    id="shopping-cart-img" th:src="|static/img/extra_items/shopping_cart.png|" alt="Shopping cart icon">
            </span>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">

        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container">
            <div id="products" class="row justify-content-center">
                <table class="cart-table table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col"> Unit price / Subtotal price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Image</th>
                        <th scope="col">Change</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="product-row" th:each="product, iterStat : ${ shoppingCart.getProductsStat() }">
                        <th scope="row" th:text="${iterStat.index + 1}">Index</th>
                        <td scope="row" class="product-name" th:text="${product.key.name}">Prod name</td>
                        <td scope="row">
                            <span th:text="${product.key.defaultPrice} + ' USD / '
                            + ${product.key.defaultPrice * product.value} + ' USD'">Prod price</span>
                        </td>
                        <td class="quantity" th:text="${product.value}" th:attr="data-product-quantity=${product.value}">Quantity</td>
                        <td><img class="image-in-cart" src="http://placehold.it/400x250/000/fff"
                                 th:attr="src='/static/img/'+ ${product.key.id} + '.jpg'" alt=""/></td>
                        <td>
                            <input type="hidden" name="prod-id" th:value="${product.key.id}">
                            <input class="btn btn-success btn-minus" type="submit" th:attr="data-product-id=${product.key.id}" value="-">
                            <input type="hidden" name="prod-id" th:value="${product.key.id}">
                            <input class="btn btn-success btn-plus" type="submit" th:attr="data-product-id=${product.key.id}" value="+">
                        </td>
                    </tr>
                    </tbody>
                    <tfoot th:if="${shoppingCart.getProducts().size() != 0}">
                    <th>Total sum:</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th th:text="${shoppingCart.getSumOfPrices()} + ' USD'">SumPrice</th>
                    </tfoot>
                </table>
                <p th:if="${shoppingCart.getProducts().size() == 0}" class="text-light">Shopping cart is empty.</p>
                <div th:unless="${shoppingCart.getProducts().size() == 0}">
                    <a href="/checkout">
                        <button type="submit" class="btn-light btn m-2">Checkout</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>