<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>

<div class="header" th:replace="fragments.html :: header-home"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-light filters-container">
            <form id="filters" method="get" action="/search">
                <div class="filter">
                    <h4>Categories</h4>
                    <div th:each="category: ${allCategories}">
                        <label>
                        <input class="checkbox" type="checkbox" name="categoryId" th:attr="value=${category.id}"
                               th:text="${category.name}"
                               th:checked="${selectedCategories.contains(category)}">
                        </label>
                    </div>
                </div>
                <div class="filter">
                    <h4>Suppliers</h4>
                    <div th:each="supplier: ${allSuppliers}">
                        <label>
                        <input class="checkbox" type="checkbox" name="supplierId" th:attr="value=${supplier.id}"
                               th:text="${supplier.name}"
                               th:checked="${selectedSuppliers.contains(supplier)}">
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container">
            <div class="card filter-conditions shadow-sm">
                <div class="card-body">
                    <div class="card-text">Category:
                        <strong th:text="${iterStat.index}==0 ? ${category.name} : ', ' + ${category.name}"
                                th:each="category, iterStat : ${selectedCategories}">Category Title</strong>
                    </div>
                    <div class="card-text">Supplier:
                        <strong th:text="${iterStat.index}==0 ? ${supplier.name} : ', ' + ${supplier.name}"
                                th:each="supplier, iterStat : ${selectedSuppliers}">Category Title</strong>
                    </div>
                    <div class="card-text" th:text="${products.size()} + ' products found'">Product number</div>

                </div>
            </div>

            <div id="products" class="row">
                <div class="col col-sm-12 col-md-6 col-lg-4 product" th:each="prod,iterStat : ${products}">
                    <div class="card product-card shadow-sm">
                        <img class="product-card-img" src="http://placehold.it/400x250/000/fff"
                             th:attr="src='/static/img/'+ ${prod.id} + '.jpg'" alt=""/>
                        <div class="card-header">
                            <h4 class="card-title product-name" th:text="${prod.name}">Product name</h4>
                            <p class="card-text" th:text="${prod.description}">Product description... </p>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="card-text">
                                <input type="hidden" name="prod-id" th:value="${prod.id}">
                                <input class="btn btn-success add-cart" type="submit" th:attr="data-product-id=${prod.id}" value="Add to cart">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments.html :: footer"></div>

</body>
</html>