<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<head th:fragment="head">
        <meta charset="utf-8"/>
        <meta name="author" content="Codecool"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <title>Our Best PlanTs</title>

        <!-- Bootstrap components -->
        <!-- Latest compiled and minified Jquery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!--Latest compiled and minified Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <!-- End of Bootstrap components -->

        <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
        <script type="module"  th:src="|/static/js/main.js|" defer></script>
        <link href="https://fonts.googleapis.com/css?family=Schoolbell&display=swap" rel="stylesheet">
</head>

<div th:fragment="footer">
    <div class="card">
        <div class="card-body">
            &copy; 2019 Codecool Budapest
        </div>
    </div>
</div>


<div th:fragment="header-pic">
    <img id="header-pic" th:src="|static/img/extra_items/index_cover.png|" alt="Plants header picture">
</div>


<div class="header" th:fragment="header-home">
    <div th:replace="this :: header-pic"></div>
    <nav class="navbar navbar-expand-lg navbar-light  bg-light shadow-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarText">
            <ul class="navbar-nav mr-auto">
            </ul>
            <span th:replace="this :: shopping-cart-title"></span>
        </div>
    </nav>
</div>


<div class="header" th:fragment="header-not-home">
    <div th:replace="this :: header-pic"></div>
    <nav class="navbar navbar-expand-lg navbar-light  bg-light shadow-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
            <span th:replace="this :: shopping-cart-title"></span>
        </div>
    </nav>
</div>


<span class="navbar-text" th:fragment="shopping-cart-title">
    Products in your cart: <strong id="cart-info" th:text="${shoppingCart.getItemNumberInCart()}"></strong>
    <a href="/cart">
        <img id="shopping-cart-img" th:src="|static/img/extra_items/shopping_cart.png|" alt="Shopping cart icon">
    </a>
</span>


</body>
</html>
