.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

#products {
    padding: 2% 0;
}

.product {
    padding: 2%;
}

body {
    font-size: 14px;
    background: #73a873;
}

.product-card {
    height: 550px;
}

.product-card-img {
    height: 250px;
    object-fit: contain;

}

.product-card .card-header {
    height: 220px;
}

.header {
    margin-bottom: 20px;
}

#header-pic {
    width: 100%;
}

.product-name {
    color: #53a053;
}

#shopping-cart-img {
    height: 30px;
    object-fit: contain;
    padding: 0 10px;
}

.filters-container {
    margin-bottom: 10px;
}

.filter {
    margin-bottom: 20px;
}

.filter-conditions strong {
    color: #53a053;
}

.image-in-cart {
    height: 100px;
    object-fit: contain;
}

.container {
    min-height: 290px;
}

.cart-table {
    background: white;
    font-size: 14px;
    text-align: center;
}